In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("/Users/sirdjgope93/Desktop/DATA SCIENCE/Project/titanic_dataset/1.input/train.csv").drop(columns=['Survived'])
test = pd.read_csv("/Users/sirdjgope93/Desktop/DATA SCIENCE/Project/titanic_dataset/1.input/test.csv")

In [3]:
final_df = pd.concat([train,test]).sample(1309)

In [4]:
final_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
666,667,2,"Butler, Mr. Reginald Fenton",male,25.0,0,0,234686,13.0000,NaN,S
465,466,3,"Goncalves, Mr. Manuel Estanslas",male,38.0,0,0,SOTON/O.Q. 3101306,7.0500,NaN,S
707,708,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,E24,S
468,469,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,NaN,Q
54,55,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C

In [5]:
pop_male = final_df[final_df['Sex'] == 'male']['Age'].dropna()
pop_female = final_df[final_df['Sex'] == 'female']['Age'].dropna()

In [6]:
pop_female

357    38.0
280    23.0
222    22.0
309    45.0
1      38.0
       ...
14     47.0
852     9.0
90     22.0
255    29.0
720     6.0
Name: Age, Length: 388, dtype: float64

In [7]:
sample_male = pop_male.sample(25)
sample_female = pop_female.sample(25)

alpha = 0.05

### Performing Hypothesis testing

In [8]:
# H0 - Mean age of male and female are similar
# H1 - Mean age of male is higher than female

In [11]:
from scipy.stats import shapiro

# perform shapiro wilk test to check normality distribution
shapiro_male = shapiro(sample_male)
shapiro_female = shapiro(sample_female)

print("Shapiro-Wilk test for male:",shapiro_male)
print("Shapiro-Wilk test for female:",shapiro_female)

Shapiro-Wilk test for male: ShapiroResult(statistic=0.9405820369720459, pvalue=0.15268392860889435)
Shapiro-Wilk test for female: ShapiroResult(statistic=0.9690912365913391, pvalue=0.6221141815185547)

In [12]:
from scipy.stats import levene

# perfrom levene's test to check variances of male and female are equal
levene_test = levene(sample_male,sample_female)
print(levene_test)

LeveneResult(statistic=0.003646185010128281, pvalue=0.9521007977687256)

In [13]:
import scipy.stats as stats

t_statistic,p_value = stats.ttest_ind(sample_male,sample_female)

print("t-statistic:",t_statistic)
print("p-value:",p_value/2)

t-statistic: 0.815410422069973
p-value: 0.2094326198098278

In [15]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Fail to reject the null hypothesis