In [1]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv("/Users/sirdjgope93/Desktop/DATA SCIENCE/Project/titanic_dataset/1.input/train.csv").drop(columns=['Survived'])
test = pd.read_csv("/Users/sirdjgope93/Desktop/DATA SCIENCE/Project/titanic_dataset/1.input/test.csv")

In [7]:
final_df = pd.concat([train,test]).sample(1309)

In [9]:
final_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
350,1242,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0,0,1,PC 17759,63.3583,D10 D12,C
437,438,2,"Richards, Mrs. Sidney (Emily Hocking)",female,24.0,2,3,29106,18.7500,NaN,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
93,985,3,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S
290,1182,1,"Rheims, Mr. George Alexander Lucien",male,NaN,0,0,PC 17607,39.6000,NaN,S

In [10]:
pop = final_df['Age'].dropna()

In [15]:
sample_age = pop.sample(25).values

In [16]:
sample_age

array([24. , 25. , 18. , 24. , 30. , 36. , 38. ,  6. ,  8. , 22. , 58. ,
       21. , 32.5, 22. , 19. , 36. , 45. , 21. , 34.5, 17. , 27. , 20. ,
       26.5, 45. , 33. ])

### Performing Hypothesis Testing

In [17]:
# H0 -> The mean age is 35
# H1 -> The mean is less than 35

In [18]:
# check for normality using Shapiro Wilk test
from scipy.stats import shapiro

shapiro_age = shapiro(sample_age)

print(shapiro_age)

ShapiroResult(statistic=0.9626993536949158, pvalue=0.47081536054611206)

In [19]:
 pop_mean = 35

In [20]:
import scipy.stats as stats

t_statistic,p_value = stats.ttest_1samp(sample_age,pop_mean)

print("t-statistic:",t_statistic)
print("p-value:",p_value/2)

t-statistic: -3.2021493122824554
p-value: 0.0019103761351320432

In [21]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis.")
else:
    print("fail to reject the null hypothesis")

Reject the null hypothesis.

In [22]:
pop.mean()

29.881137667304014

##### so we can say that the population mean is less than 35.